<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Records Page</title>
  <link rel="stylesheet" href="/STYLE.css">
</head>

<body>


  <h2>-6-Afișează numele dotărilor împreună cu numărul de sali în care sunt disponibile:</h2>
  <table class="numar-sali-pe-dotare">
    <thead>
      <tr>
        <th>Nume_Dotare</th>
        <th>Numar_Sali</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i=0; i < numarSaliPeDotareSet.length; i++) { %>
        <tr>
          <td>
            <%= numarSaliPeDotareSet[i].Nume_Dotare %>
          </td>
          <td>
            <%= numarSaliPeDotareSet[i].Numar_Sali %>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>
</body>