<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Records Page</title>
  <link rel="stylesheet" href="/STYLE.css">
</head>

<body>


  <h2>-4-Afișează departamentul și numărul de studenti pentru fiecare departament, inclusiv cele fără studenți::</h2>
  <table class="numar-studenti-pe-departament">
    <thead>
      <tr>
        <th>Nume_Departament</th>
        <th>Numar_Studenti</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i=0; i < numarStudentiSet.length; i++) { %>
        <tr>
          <td>
            <%= numarStudentiSet[i].Nume_Departament %>
          </td>
          <td>
            <%= numarStudentiSet[i].Numar_Studenti %>
          </td>
        </tr>
        <% } %>
    </tbody>
  </table>
</body>